*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
    background-image: url(../../img/assets/bg.svg);
    background-size: contain;
}

header{
    display: flex;
    background-color: black;
    align-items: center;
    color: white;
    justify-content: space-between;
}

header nav{
    padding: 10px;
}

header img{
    padding:5px 15px;
    margin:0;
    width:3%;
    border-radius: 35%;
}

header a, .fav_book a, .fav_song a, .contact_btn a{
    padding: 6px 12px;
    background-color: #b85042;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    margin: 0 15px;
}

header a:hover, .fav_book a:hover, .fav_song a:hover, .contact_btn a:hover{
    transition-duration: 250ms;
    background-color: #a7beae;
}

img{
    align-content: center;
    margin: 20px 35%;
    border-radius: 10%;
    width: 30%;
}

img:hover{
    transition-duration: 20s;
    width: 90%;
    margin: 20px 5%;
}

.quote{
    margin: auto;
    text-align: center;
}

.About, .Progress, .contact_info, .objective, .education, .experience, .extracurricular, .fav_book, .fav_song, .fav_movie{
    background: white;
    margin: 30px 50px;
    padding: 20px;
    border-radius: 10px;
    border: 3px;
    border-color: black;
}

.About h1, .Progress h1{
    margin-bottom: 10px;
}

progress{
    width: 90%;
    height: 30px;
    margin: 10px;
}

footer{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color: white;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin: 5px;
}

footer a, .contact_info a{
    text-decoration: none;
    color: #b85042;
}

footer a:hover, .contact_info a:hover{
    transition-duration: 250ms;
    color:#e7e8d1;
}

hr{
    visibility: hidden;
}

.experience ul li, .extracurricular ul li{
    margin: 0px 20px;
}

.fav_book img{
    width: 20%;
    margin: 20px 40%;
}

.fav_song h3{
    margin-bottom: 10px;
}

.fav_song audio{
    margin: 20px 10px;
}

h3, h1, h2{
    text-align: center;
}

.education table{
    padding: 15px;
    text-align: center;
}

.education th, .education td{
    padding: 10px;
}

.experience h3{
    text-align: left;
}

.education th, td{
    text-align: left;
}

.intro{
    margin: 5% 20%;
}

.intro h1{
    font-size: 500%;
}

.intro h3{
    text-align: center;
    margin-bottom: 15%;
}

.contact_btn{
    text-align: center;
}

.contact_btn a{
    margin:15px 50px;
    padding: 15px 50px;
    font-size: 120%;
    font-weight: bold;
}

.contact_btn a:hover{
    background-color: #b85042;
}

.contact_btn:hover{
    animation: contact_anim 1s ease 0s 1 forwards;
}

@keyframes contact_anim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-16px) rotate(-6deg);
	}

	30% {
		transform: translateX(8px) rotate(6deg);
	}

	45% {
		transform: translateX(-8px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(4.5px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-3px) rotate(-1.2deg);
	}
}

iframe{
    width: 60%;
    margin: 0 20%;
}